body {
    background-color: rgb(2, 48, 71);
    display: flex;
    justify-content: center;
    align-items: center;
}

#fact-box {
    color: mintcream;
    width: 500px;
    min-width: 320px;
    height: 150px;
    margin: 20px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.69);
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#moon {
    color: mintcream;
    position: absolute;
    top: 25%;
    border: 2px solid white;
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.69);
    max-width: 460px;
    text-align: center;
}

#img {
    border-radius: 50%;
    box-shadow: 0 0 50px 1px black

}
